/* Importing Partials CSS */
@import url("./partials/__partials.css");

/* Importing Components CSS */
@import url("./components/Home.css");
@import url("./components/Error.css");

/* Overriding Global CSS */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  color: black;
}

body {
  overflow-x: hidden;
}

button {
  outline: none;
  border: none;
  cursor: none;
}

li {
  list-style: none;
}

/* Custom Classes */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
